APP_NAME=chat-with-my-pinecone-backend
APP_ENV=development
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/postgres
CORS_ALLOW_ORIGIN=http://localhost:3000

CLERK_SECRET_KEY=

PINECONE_API_KEY_1=
PINECONE_API_KEY_2=
PINECONE_API_KEY_3=

OPENAI_API_KEY=
COHERE_API_KEY=
